body {
  width: 100%;
  background: linear-gradient(to bottom, rgba(0, 0, 0, .8), rgba(0, 0, 0, .5));
  background-size: cover;
  position: relative;
  animation: zoom 2s;
  background-color: black;
}

/* incio e menu */
header {
  width: 100%;
  height: 100vh;
  background: linear-gradient(to bottom, rgba(0, 0, 0, .5), rgba(0, 0, 0, .5)), url("https://img.freepik.com/free-photo/galaxy-night-landscape_23-2148895320.jpg?t=st=1717030089~exp=1717033689~hmac=6307e5af480c866d7fd1e66e90c3e1d790af6d1a57b02230e1364af8b74e5aa9&w=1380") center no-repeat;
  background-size: cover;
  position: relative;
  overflow: hidden;
  animation: zoom 2s;
  padding: 0;

}

@keyframes zoom {
  0% {
    transform: scale(1.5);
  }

  100% {
    transform: scale(1.0);
  }
}


::-webkit-scrollbar {
  width: 10px;
}

::-webkit-scrollbar-track {
  background: #afafaf9f;
  border-radius: 30px;
}

::-webkit-scrollbar-thumb {
  border-radius: 30px;
  background-color: #00042c;

}

.Slogan {

	font-size: 70px;
	color: rgba(255, 255, 255, 0.767);
	text-align: center;
}

.Slogan2 {

	font-size: 70px;
	color: #00e1ff;
	text-align: center;
}

.spinner {
  height: 50px;
  width: max-content;
  font-size: 18px;
  font-weight: 600;
  font-family: monospace;
  letter-spacing: 1em;
  color: #f5f5f5;
  filter: drop-shadow(0 0 10px);
  display: flex;
  justify-content: center;
  align-items: center;
}

.spinner span {
  animation: loading6454 1.75s ease infinite;
  color: #00e1ff;
}

.spinner span:nth-child(2) {
  animation-delay: 0.25s;
}

.spinner span:nth-child(3) {
  animation-delay: 0.5s;
}

.spinner span:nth-child(4) {
  animation-delay: 0.75s;
}

.spinner span:nth-child(5) {
  animation-delay: 1s;
}

.spinner span:nth-child(6) {
  animation-delay: 1.25s;
}

.spinner span:nth-child(7) {
  animation-delay: 1.5s;
}

@keyframes loading6454 {

  0%,
  100% {
    transform: translateY(0);
  }

  50% {
    transform: translateY(-10px);
  }
}


.main {
  width: 100%;
  height: 100%;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;

}

.profile-card {
  position: relative;
  width: 220px;
  height: 400px;
  background: #fff;
  padding: 30px;
  border-radius: 5%;
  box-shadow: 0 0 22px #3336;
  transition: .6s;
  margin: 0 25px;
  margin-bottom: 20px;
}

.profile-card:hover {
  border-radius: 10px;
  height: 400px;
}

.profile-card .img {
  position: relative;
  width: 100%;
  height: 100%;
  transition: .6s;
  z-index: 99;
}

.profile-card:hover .img {
  transform: translateY(-60px);
}

.img img {
  width: 100%;
  border-radius: 50%;
  box-shadow: 0 0 22px #3336;
  transition: .6s;
}

.profile-card:hover img {
  border-radius: 10px;
}

.caption {
  text-align: center;
  transform: translateY(-80px);
  opacity: 0;
  transition: .6s;
}

.profile-card:hover .caption {
  opacity: 1;
}

.caption h3 {
  font-size: 21px;
}

.caption p {
  font-size: 16px;
  color: #00e1ff;

}

.caption .social-links a {
  color: #333;
  margin-right: 8px;
  font-size: 21px;
  transition: .6s;
}

.social-links a:hover {
  color: #00e1ff;
}

@media screen and (max-width: 700px) {
  .profile-card {
    margin-bottom: 20px;
  }

  .button-scroll {
    padding: 1em 2em;
    margin-bottom: 30px;
  }
}


/* CARDS LEGAIS */
.contentcard {

	height: 100%;
	display: flex;
	flex-direction: column;
	justify-content: space-evenly;
	background: #a6caff;
	background: linear-gradient(to bottom, #00e1ff2c, rgba(0, 0, 0, 0.42)), url("https://static4.depositphotos.com/1027863/384/i/450/depositphotos_3846803-stock-photo-space-background.jpg") center no-repeat;


}

.containercard {
	position: relative;
	display: flex;
	align-items: center;
	justify-content: center;
	max-width: 1200px;
	flex-wrap: wrap;
	z-index: 1;



}

.slogan-cards {
	color: #999;
	padding-top: 20px;
	font-size: 40px;
	text-align: center;
}

.contentcard h2 {
	color: white;
	font-size: 80px;
	justify-self: flex-start;

}

.contentcard h3 {
	color: white;
	;
}

.contentcard p {
	padding: 10px;
	font-size: 12px;
	color: white;
}

.bt-maisif a {
	color: white;
}

.bt-maisif {
	--green: #00e1ff85;
	font-size: 15px;
	padding: 0.7em 2.7em;
	letter-spacing: 0.06em;
	position: relative;
	font-family: inherit;
	border-radius: 0.6em;
	overflow: hidden;
	transition: all 0.3s;
	line-height: 1.4em;
	border: 2px solid var(--green);
	background: linear-gradient(to right, #ffcaa61c 1%, transparent 40%, transparent 60%, #ffcaa62e 100%);
	color: var(--green);
}

.bt-maisif:before {
	content: "";
	position: absolute;
	left: -4em;
	width: 4em;
	height: 100%;
	top: 0;
	transition: transform .4s ease-in-out;
	background: linear-gradient(to right, transparent 1%, #00e1ff85 40%, #00e1ff85 60%, transparent 100%);
}

.bt-maisif:hover:before {
	transform: translateX(15em);
}


.text-card {
	display: flex;
}

.cardi {
	position: relative;
	width: calc(80vw / 4);
	height: 400px;
	margin: 30px;
	border-radius: 15px;
	overflow: hidden;
	display: flex;
	justify-content: center;
	align-items: center;
	box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);

}

.containercard .cardi:hover .contentcard {
	transform: translatey(0px);
	opacity: 1;
}

.cardes {
	display: flex;
	margin-bottom: 50px;
}

.button-scroll {
	z-index: 9;
	justify-content: center;
	display: flex;
	margin-bottom: 20px;
	align-items: center;
	--glow-spread-color: #a6caff;
	--enhanced-glow-color: #00e1ff85;
	--btn-color: #a6caff;
	border: 3px solid rgba(255, 255, 255, 0.36);
	padding: 1em 9em;
	color: white;
	font-size: 15px;
	font-weight: bold;
	background-color: var(--btn-color);
	border-radius: 1em;
	outline: none;
	box-shadow: 0 0 1em .25em var(--glow-color),
		0 0 4em 1em var(--glow-spread-color),
		inset 0 0 .75em .25em var(--glow-color);
	text-shadow: 0 0 .5em var(--glow-color);
	position: relative;
	transition: all 0.3s;
}

.button-scroll:active {
	box-shadow: 0 0 0.6em .25em var(--glow-color),
		0 0 2.5em 2em var(--glow-spread-color),
		inset 0 0 .5em .25em var(--glow-color);
}