/* BODY*/

@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@600&display=swap');

*,
*::after,
*::before {
	margin: 0;
	padding: 0;
	box-sizing: inherit;
}

html {
	font-size: 62.5%;
	font-family: "Roboto Cn", sans-serif;
	scroll-behavior: smooth;
}

body {
    background: linear-gradient(to bottom, rgba(0, 0, 0, .6), rgba(0, 0, 0, .4)), url("../imgs/assets/sol.jpg") center no-repeat;
    width: 100%;
    background-size: cover;
    position: relative;
    animation: zoom 2s;
}

.wrapper {
    margin: 0 auto;
    width: 80%;
    max-width: 1200px;
}

/* NAV */
header h1 {
    margin: 10px;
    position: relative;
    transform: translate(0, 0%);
    display: flex;
    align-items: center;
    font-family: "Roboto Cn", sans-serif
}

nav {
    padding: 10px 0;
    align-items: center;
}

nav a {
    text-decoration: none;
    color: #333;
    padding: 10px 20px;
}


/* esconde as ancoras da tela */
a.links {
    display: none;
}

.container {
    position: relative;
    /* background-color: black; */
}


/* corpo */
.Sb-nós {
    color: white;
    text-align: center;
    font-size: 34px;
}

.SobreNos-cd {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: 245px;
    grid-gap: 4rem 2rem;
    max-width: 1300px;
    margin: 0 auto;
    padding-top: 20px;
}

.cardsn {
    height: 250px;
    width: 300px;
    position: relative;
    transition: all 0.4s cubic-bezier(0.645, 0.045, 0.355, 1);
    border-radius: 1em;
    box-shadow: 0 1px 3px rgb(0 0 0 / 12%), 0 1px 2px rgb(0 0 0 / 24%);
    margin-bottom: 90px;
    display: inline-block;
    margin-left: 10px;
    margin-top: 25px;
}

.cardsn-imagesn {
    height: 100%;
    width: 100%;
    position: absolute;
    transition: all 1s cubic-bezier(0.645, 0.045, 0.355, 1);
}

.cardsn-imagesn img {
    height: 250px;
    width: 800 px;
    border-radius: 1em;
}

.card-descriptionsn {
    display: flex;
    position: absolute;
    width: 93%;
    gap: 1em;
    flex-direction: column;
    background: rgba(255, 255, 255, 0.245);
    backdrop-filter: blur(13.5px);
    -webkit-backdrop-filter: blur(13.5px);
    border-radius: 10px;
    border: 1px solid rgba(255, 255, 255, 0.18);
    height: 30%;
    bottom: 0;
    border-radius: 1em;
    transition: all 1s cubic-bezier(0.645, 0.045, 0.355, 1);
    padding: 1rem;
    z-index: 100;
}

.text-titlesn {
    font-size: 1.5rem;
    font-weight: 700;
    color: rgb(255, 255, 255)
}

.text-bodysn {
    font-size: 1.2rem;
    line-height: 100%;
    color: #fff
}

.cardsn:hover .card-descriptionsn {
    transform: translateY(100%);
}

.sb-empresa {
    background: rgba(255, 255, 255, 0.212);
    border-radius: 10px;
    border: 1px solid rgba(255, 255, 255, 0.18);
    padding: 35px 50px;
    max-width: 1200px;
    margin: 20px auto;
    border-radius: 5px;
}

.menu-sb {
    background: rgb(0, 0, 0) !important;
}

.sb-empresa h2 {
    color: #ffcaa6;
    width: 235px;
    border-bottom: 3px solid;
    font-size: 20px;

}

.sb-empresa p {
    padding-top: 10px;
    color: rgb(255, 255, 255);
    font-weight: bold;
    font-size: 15px;
    line-height: 25px;
}

@media screen and (max-width: 700px) {
    footer {
        align-items: center;
        display: grid;
        grid-template-columns: 1fr;
    }

    #CopyrightFooter {
        order: 3;
        font-size: 12px;
        color: #999;
    }

    footer h4 {
        padding-top: 10px;
    }

    .SobreNos-cd {
        display: flex;
        align-items: center;
        justify-content: center;
        flex-wrap: wrap;
    }

    .cardsn {
        height: 250px;
        width: 300px;
        position: relative;
        margin-bottom: 90px;
        margin: unset !important;
        margin-bottom: 10px !important;
    }
}

/* FOOTER */

footer {
	background: rgb(0, 0, 0);
	box-shadow: rgb(0 0 0 / 25%) 0px 0px 54px 0px;
	padding: 20px 0px;
	align-items: center;
	border-top: 1px solid #fff;
}

.footer__container, .footer__left{
	display: flex;
	align-items: center;
}

.footer__container{
	justify-content: space-between;
}

.footer__logo img{
	width: 100px;
	height: 100%;
}

.footer__nav a, .footer__right p{
	/* text-shadow: 0px 0px 4px rgba(0, 0, 0, 0.35); */
    color: whitesmoke;
    font-family: 'Andale Mono', monospace;
    font-weight: bold;
	font-size: 1.6rem;
	text-align: center;
}

.footer__nav ul{
	display: flex;
	align-items: center;
}

.footer__nav ul li{
	text-align: center;
}

.footer__nav a:hover{
	font-size: 2.2rem;
	transition: .3s all;
}

/* .footer__right p{
	text-shadow: 0px 0px 4px rgba(0, 0, 0, 0.35);
    color: whitesmoke;
    font-family: 'Andale Mono', monospace;
    font-weight: bold;
	font-size: 1.6rem;
} */

.footer__right {
	margin-left: 1rem;
}

footer h4 {
	font-size: 18px;
	font-weight: bold;
	margin-bottom: 16px;
}

footer div img {
	margin-right: 8px;
}

/* MAX-WIDTH 1200PX */
@media only screen and (max-width: 1200px){
	.Slogan, .Slogan2{
		font-size: 6rem;
	}


	.footer__container, .footer__left, .footer__nav ul{
		flex-direction: column;
	}

	.footer__nav ul li:not(:last-child){
		margin-bottom: 2.6rem;
	}

	.footer__left{
		margin: 2rem 0 4rem;
	}
	
	.footer__nav{
		margin-top: 2rem;
	}
}