@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@600&display=swap');

*,
*::after,
*::before {
	margin: 0;
	padding: 0;
	box-sizing: inherit;
}

html {
	font-size: 62.5%;
	font-family: "Roboto Cn", sans-serif;
	scroll-behavior: smooth;
}

body {
	box-sizing: border-box;
	position: relative;
}

main {
	position: relative;
}

img {
	max-width: 100%;
}

.wrapper {
	margin: 0 auto;
	width: 85%;
	max-width: 1200px;
}

a {
	text-decoration: none;
	color: #eee;
}

/* incio e menu */
header {
	width: 100%;
	height: 80vh;
	background: linear-gradient(to bottom, rgba(0, 0, 0, .5), rgba(0, 0, 0, .5)), url("../imgs/assets/terra.jpg") center no-repeat;
	background-size: cover;
	position: relative;
	overflow: hidden;
	animation: zoom 2s;
	padding: 0;
}

.header__acesso {
    display: flex;
    align-items: center;
}

.header__login {
    font-size: 2rem;
    color: #fff;
    margin-left: 2rem;
}

@keyframes zoom {
	0% {
		transform: scale(1.5);
	}

	100% {
		transform: scale(1.0);
	}
}

.container-fluid.wrapper {
    display: flex;
    align-items: center;
    justify-content: space-between;
}


::-webkit-scrollbar {
	width: 10px;
}

::-webkit-scrollbar-track {
	background: #afafaf9f;
	border-radius: 30px;
}

::-webkit-scrollbar-thumb {
	border-radius: 30px;
	background-color: #00042c;

}

.menu-toggle {
	flex-wrap: wrap;
	position: fixed;
	top: 2.5rem;
	right: 2.5rem;
	color: #eeeeee;
	font-size: 3rem;
	cursor: pointer;
	z-index: 1000;
	display: none;
}


.container3 {
	padding: 10px 0;
	text-align: left;
}

.menu-sb {
	box-shadow: 0px 0px 54px 0px rgb(0 0 0 / 25%);
	margin-top: -20px;
	padding: 20px 0;
	background: rgb(37, 37, 37);
}

.brand {
	font-size: 3rem;
	font-weight: 300;
	transform: translateX(-100rem);
	animation: slideIn .5s forwards;
}

.brand span {
	color: #0015ff;
}

/* NAV */
header h1 {
    padding: 2rem 0;
    display: flex;
    align-items: center;
    font-family: "Roboto Cn", sans-serif;
}

header h1 img{
	width: 100px;
	height: 100%;
}

nav {
    padding: 10px 0;
    align-items: center;
}

nav a {
    text-decoration: none;
    color: #333;
    padding: 10px 20px;
	outline: none;
	font-size: 2rem;
}

.container nav a:hover{
	font-size: 2.4rem;
	transition: .3s all;
}


/* esconde as ancoras da tela */
a.links {
    display: none;
}


section {

	justify-content: center;
	margin-top: 100px;
}

.container1 {
	background-color: #0026ff42;
	user-select: none;
	border-radius: 20px;
	height: 150px;
	margin: 0 auto;
	max-width: 1200px;
	justify-content: center;
	align-items: center;
	display: flex;
}

.banner__container{
	display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
}

.Selecionar {
	margin-top: 0 !important;
}

.origem {
	margin: 10px;
	font-size: 20px;
	color: white;
}

.destino {
	margin: 90px;
	font-size: 20px;
	color: white;
}

form input,
form textarea {
	height: 40px;
	width: 140px;
	outline: unset;
	/* border: var(--clr-neon) 2px solid; */
	margin: 10px;
	background: rgba(255, 255, 255, 0.6);
	border-radius: 10px;

}

form input:focus {
	border: var(--clr-neon) 2px solid;
}

select {
	/* border: var(--clr-neon) 2px solid; */
	background: rgba(255, 255, 255, 0.6);
	outline: none;
	height: 40px;
	border-radius: 10px;
	margin: 4px;
}

select:focus {
	border: var(--clr-neon) 2px solid;
}

.dataID {
	color: rgb(255, 255, 255);
	font-size: 20PX;
	margin-right: 65px;
}

:root {
	--clr-neon: #0015ff;
	--clr-bg: hsl(323 21% 16%)
}

.neons {
	margin: 10px;
	width: 180px;
	height: 45px;
	font-size: 25px;
	justify-content: center;
	align-items: center;
	cursor: pointer;
	text-decoration: none;
	color: white;
	border: var(--clr-neon) 2px solid;
	background-color: transparent;
	border-radius: 0.25em;
	text-shadow: 0 0 0.125em hsl(0 0% 100% / 0.3), 0 0 0.45em currentColor;
	box-shadow: inset 0 0 0.5em 0 var(--clr-neon), 0 0 0.5em 0 var(--clr-neon);
	transition: all 0.5s
}

.neons:hover {
	background-color: var(--clr-neon);
}

.LoginNome {
	font-size: 20px;
	margin-left: 80px;
	color: #0015ff;
}


.Slogan {
	font-size: 6rem;
	color: rgba(255, 255, 255, 0.767);
	text-align: center;
}



.Slogan2 {
	font-size: 7rem;
	color: #00ff9d;
	text-align: center;
}

.Slogan3 {
	font-size: 30px;
	color: rgba(255, 255, 255, 0.767);
}


.overlay {
	background-color: rgba(255, 255, 255, 0.95);
	position: fixed;
	right: 0;
	left: 0;
	top: 0;
	bottom: 0;
	transition: opacity 650ms;
	transform: scale(0);
	opacity: 0;
	display: none;
}

nav ul li a:hover::before,
nav ul li a:hover::after {
	transform: scaleX(1);
}

@keyframes slideIn {
	from {}

	to {
		transform: translateX(0);
	}
}




/* passagens */


.chamadopsg {
	color: #999;
	font-size: 5.5rem;
	width: 40%;
	text-align: center;

}



body {
	background: rgb(0, 0, 0);
	margin: 0px;
	padding: 0px;

}


a {
	text-decoration: none;
}

.box {
	width: 197px;
	border-radius: 10px;
	overflow: hidden;
	box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
}

.slide-img {
	height: 450px;
	position: relative;
}

.slide-img img {
	width: 100%;
	height: 100%;
	object-fit: cover;
	box-sizing: border-box;
}

.detail-box {
	background-color: white;
	width: 100%;
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding: 10px 20px;
	box-sizing: border-box;
	font-family: calibri;
}

.type {
	background: white;
	display: flex;
	flex-direction: column;
}

.type a {
	background: white;
	color: #222222;
	margin: 5px 0px;
	font-weight: 700;
	letter-spacing: 0.2px;
	padding-right: 5px;
}

.type span {
	background: white;
	color: rgba(26, 26, 26, 0.5);
}

.price {
	color: #333333;
	font-weight: 600;
	font-size: 1.1rem;
	font-family: poppins;
	letter-spacing: 0.5px;
}

.overlay {

	position: absolute;
	left: 50%;
	top: 50%;
	transform: translate(-50%, -50%);
	width: 100%;
	height: 100%;
	background-color: #a6caff6b;
	display: flex;
	justify-content: center;
	align-items: center;

}

.buy-btn {
	width: 160px;
	height: 40px;
	display: flex;
	justify-content: center;
	align-items: center;
	background-color: #FFFFFF;
	color: #252525;
	font-weight: 700;
	letter-spacing: 1px;
	font-family: calibri;
	border-radius: 20px;
	box-shadow: 2px 2px 30px rgba(0, 0, 0, 0.2);
}

.buy-btn:hover {
	color: #FFFFFF;
	background-color: #a6caff;
	transition: all ease 0.3s;
}

.overlay {
	visibility: hidden;
	transition: opacity 0.5s ease;
}

.slide-img:hover .overlay {
	visibility: visible;
	opacity: 1;
}

@keyframes fade {
	0% {
		opacity: 0;
	}

	100% {
		opacity: 1;
	}
}

.slider {
	width: 100%;
	height: 100vh;
	display: flex;
	justify-content: center;
	align-items: center;
}

.splide__list {
	display: flex;
	transform-style: preserve-3d;
	gap: 19px;
}

.splide__track {
	max-width: 880px;
	padding-bottom: 10px;
}

.splide__slide {
	width: 200px !important;
	box-sizing: border-box;
	flex-shrink: 0;
	margin: 0px;
	outline: none;
	position: relative;
	list-style-type: none !important;
}

.splide {
	width: 55%;
}

.passagens-splide {
	display: flex;
	align-items: center;
	justify-content: space-between;
}

.splide__arrow--next {
	right: 1.5px;
}

.splide__pagination {
	bottom: unset;
}

/* LOGIN */

.loginmodel {
	position: fixed;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	background: rgba(30, 30, 30, 0.7);
	transition: opacity 500ms;
	visibility: hidden;
	opacity: 0;
	z-index: 1;
}

.loginmodel:target {
	visibility: visible;
	opacity: 1;
}

.popup {
	border-radius: 20px;
	border: var(--clr-neon) 1px solid;
	margin: 200px auto;
	padding: 30px;
	background: rgb(0, 0, 0);
	border-radius: 5px;
	width: 35%;
	position: relative;
	transition: all 1.5s ease-in-out;
}

.popup h2 {
	display: flex;
	justify-content: center;
	margin: 10px auto;
	color: rgb(255, 255, 255);
	font-family: Tahoma, Arial, sans-serif;
}

.popup .close {
	position: absolute;
	top: 20px;
	right: 30px;
	transition: all 200ms;
	font-size: 30px;
	font-weight: bold;
	text-decoration: none;
	color: #a6caff;
}

.popup .close:hover {
	color: rgba(255, 255, 255, 0.6);
}

.popup .content {
	display: flex;
	justify-content: center;
	overflow: hidden;
}

.bts-login {
	margin: 20px;
	display: flex;
}

.lb-senha {

	margin: 30px auto;
	color: white;
	text-align: center;
}



.form-v-001 {
	margin: 10px auto;
	width: 100%;
	height: 30px;
	border: solid #a6caff;
	border-radius: 10px;
}

/* CARDS LEGAIS */
.cardes__container {
	height: 100%;
	display: flex;
	flex-direction: column;
	justify-content: space-evenly;
	background: linear-gradient(to bottom, #ffcaa66c, rgba(0, 0, 0, 0.42)), url("https://static4.depositphotos.com/1027863/384/i/450/depositphotos_3846803-stock-photo-space-background.jpg") center no-repeat;


}

.cardes__container {
	position: relative;
	display: flex;
	align-items: center;
	justify-content: center;
	flex-wrap: wrap;
	z-index: 1;
}

.oportunidades {
	margin-top: 12rem;
}

.slogan-cards {
	color: #999;
	padding-top: 20px;
	font-size: 5.5rem;
	text-align: center;
}

.cardes__container h2 {
	color: white;
	font-size: 80px;
	justify-self: flex-start;
	
}

.cardes__container h3 {
	color: white;
	font-size: 1.7rem;
	text-align: center;
	margin-top: 1.2rem;
    margin-bottom: 1.2rem;
}

.cardes__container p {
	padding: 0 1.5rem;
	font-size: 1.3rem;
	color: white;
	margin-bottom: 1.5rem;
	line-height: 1.8rem;
}

/* .cardes__container a {
	color: white;
	--green: #ffcaa6;
	font-size: 1.4rem;
	padding: 0.7rem 2rem;
	letter-spacing: 0.06em;
	font-family: inherit;
	border-radius: 0.6em;
	transition: all 0.3s;
	line-height: 1.4em;
	border: 2px solid var(--green);
	background: linear-gradient(to right, #ffcaa61c 1%, transparent 40%, transparent 60%, #ffcaa62e 100%);
	color: var(--green);
	text-align: center;
	width: fit-content;
	margin: 0 auto;
} */

.bt-maisif:before {
	content: "";
	position: absolute;
	left: -4em;
	width: 4em;
	height: 100%;
	top: 0;
	transition: transform .4s ease-in-out;
	background: linear-gradient(to right, transparent 1%, #ffcaa6 40%, #ffcaa6 60%, transparent 100%);
}

.bt-maisif:hover:before {
	transform: translateX(15em);
}


.text-card {
	display: flex;
}
/* 
.cardi {
	position: relative;
	border-radius: 15px;
	display: flex;
	justify-content: center;
	align-items: center;
	box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);

} */

.contentcard__img{
	height: 30rem;
}

.contentcard__img img{
	width: 100%;
	height: 100%;
}

.containercard .cardi:hover .contentcard {
	transform: translatey(0px);
	opacity: 1;
}

.cardes {
	display: flex;
	margin-bottom: 8rem;
	justify-content: space-evenly;
}

.cardes__container {
	max-width: 25%;
	margin-top: 8rem;
}

.button-scroll {
	z-index: 9;
	justify-content: center;
	display: flex;
	margin-bottom: 20px;
	align-items: center;
	--glow-spread-color: #a6caff;
	--enhanced-glow-color: rgb(255, 228, 206);
	--btn-color: #a6caff;
	border: 3px solid rgba(255, 255, 255, 0.36);
	padding: 1em 9em;
	color: white;
	font-size: 15px;
	font-weight: bold;
	background-color: var(--btn-color);
	border-radius: 1em;
	outline: none;
	box-shadow: 0 0 1em .25em var(--glow-color),
		0 0 4em 1em var(--glow-spread-color),
		inset 0 0 .75em .25em var(--glow-color);
	text-shadow: 0 0 .5em var(--glow-color);
	position: relative;
	transition: all 0.3s;
}

.button-scroll:active {
	box-shadow: 0 0 0.6em .25em var(--glow-color),
		0 0 2.5em 2em var(--glow-spread-color),
		inset 0 0 .5em .25em var(--glow-color);
}

/* cards de hoteis */
.hoteis {
	margin: 10rem auto;
}

.text-hotel {
	color: #999;
	padding-top: 46px;
	font-size: 5.5rem;
	text-align: center;
}

.card-hotel {
	display: flex;
	width: 100%;
	margin: 6rem 0;
	justify-content: space-between;
}

.caaaard {
	width: 23%;
	padding: 0.8rem 0.8rem 1rem;
	background: #f5f5f5;
	box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
}

.caaaard a{
	color: black;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
}

.caaaard-img {
	height: 18rem;
	width: 100%;
	border-radius: .5rem;
	transition: .3s ease;
}

.caaaard-img img {
	width: 100%;
	height: 100%;
	border-radius: .5rem;
}

.caaaard-info{
	padding-top: 1.5rem;
}

svg {
	width: 3rem;
	height: 3rem;
	fill: #fff;
}

.caaaard-footer {
	width: 100%;
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding-top: 10px;
	border-top: 1px solid #ddd;
	margin-top: 1rem;
}

/*Text*/
.texttt-title {
	font-weight: 900;
    font-size: 2rem;
    line-height: 1.5;
    margin-bottom: 1rem;
}

.texttt-body {
	font-size: 1.6rem;
    padding-bottom: 1rem;
}

/*Button*/
.caaaard-button {
	z-index: 9;
	display: flex;
	padding: .3em;
	cursor: pointer;
	border-radius: 50px;
	transition: .3s ease-in-out;
}

/*Hover*/
.caaaard-img:hover {
	transform: translateY(-10%);
	box-shadow: rgba(226, 196, 63, 0.25) 0px 13px 47px -5px, rgba(180, 71, 71, 0.3) 0px 8px 16px -8px;
}

.caaaard-button:hover {
	border: 1px solid #a6caff;
	background-color: #a6caff;
}

footer {
	background: rgb(0, 0, 0);
	box-shadow: rgb(0 0 0 / 25%) 0px 0px 54px 0px;
	padding: 20px 0px;
	align-items: center;
	border-top: 1px solid #fff;
	margin-top: 4rem;
}

.footer__container, .footer__left{
	display: flex;
	align-items: center;
}

.footer__container{
	justify-content: space-between;
}

.footer__logo img{
	width: 100px;
	height: 100%;
}

.footer__nav a, .footer__right p{
	/* text-shadow: 0px 0px 4px rgba(0, 0, 0, 0.35); */
    color: whitesmoke;
    font-family: 'Andale Mono', monospace;
    font-weight: bold;
	font-size: 1.6rem;
	text-align: center;
}

.footer__nav ul{
	display: flex;
	align-items: center;
}

.footer__nav ul li{
	text-align: center;
}

.footer__nav a:hover{
	font-size: 2.2rem;
	transition: .3s all;
}

/* .footer__right p{
	text-shadow: 0px 0px 4px rgba(0, 0, 0, 0.35);
    color: whitesmoke;
    font-family: 'Andale Mono', monospace;
    font-weight: bold;
	font-size: 1.6rem;
} */

.footer__right {
	margin-left: 1rem;
}

footer h4 {
	font-size: 18px;
	font-weight: bold;
	margin-bottom: 16px;
}

footer div.social-media a {
	color: #333;
	width: 40px;
	height: 40px;
	display: inline-flex;
	background: #EFEFEF;
	border-radius: 100%;
	align-items: center;
	justify-content: center;
	margin-right: 16px;
}

footer div.social-media a:hover {
	background: #a6caff;

}

footer div img {
	margin-right: 8px;
}


footer div.social-media {
	padding-bottom: 10px;
}

#CopyrightFooter {
	display: flex;
	justify-content: center;
	align-items: center;
	font-size: 15px;
	color: #999;
}


.menu-mobile {
	display: none;
	visibility: hidden;

}

.menu-toggle {
	color: white;
}

.aside-menu {
	display: none;
}


.top-footer {

	width: 60%;
}


.OD {
	display: none;
}

.DD {
	display: none;
}

/* MAX WIDTH 1366 */
@media only screen and (max-width:1366px){
	.card-hotel{
		flex-direction: column;
    	align-items: center;
	}

	.caaaard{
		width: 350px;
	}

	.caaaard:not(:last-child){
		margin-bottom: 6rem;	
	}

	.caaaard-img{
		height: 20rem;
	}

	section.passagens-splide.starfield{
		display: flex;
		flex-direction: column;
		justify-content: center;
		align-items: center;
	}

	.chamadopsg{
		width: 100%;
		margin-bottom: 5rem;
	}

	.splide{
		width: unset;
	}

	.splide__track{
		max-width: unset;
		padding-bottom: unset;
	}

	.splide__list{
		display: flex;
		transform-style: preserve-3d;
		gap: 19px;
	}

	.splide__slide{
		width: 300px !important;
		display: flex;
        justify-content: center;
        align-items: center;
	}

	.box{
		width: 280px;
	}
}

/* MAX-WIDTH 1200PX */
@media only screen and (max-width: 1200px){
	.Slogan, .Slogan2{
		font-size: 6rem;
	}


	.footer__container, .footer__left, .footer__nav ul{
		flex-direction: column;
	}

	.footer__nav ul li:not(:last-child){
		margin-bottom: 2.6rem;
	}

	.footer__left{
		margin: 2rem 0 4rem;
	}
	
	.footer__nav{
		margin-top: 2rem;
	}
}

/* responsivo celular */

@media screen and (max-width: 700px) {

	select {
		width: 47%;
	}

	.cardi {
		width: unset;
	}

	.OD {
		display: unset;

	}

	.DD {
		display: flex;
	}


	.ODDD {
		display: none;
	}

	.top-footer {
		width: 100%;
		text-align: center;
		margin: 20px 0;
	}

	footer h4 {
		text-align: center;
	}

	#CopyrightFooter {
		font-size: 10px;
		order: 3;
	}

	footer {
		grid-template-columns: 1fr;
		flex-direction: column;
	}

	.button-scroll {
		padding: 1em 2em;
	}

	.menu-mobile li {
		list-style-type: none;
		padding: 20px;
		font-size: 20px;
	}

	.fechar-menu {
		font-size: 20px;
		font-weight: bold;
		border-radius: 20px;
		background: #ffcaa6;
		border: 0;

		padding: 5px 20px;
	}

	.splide__slide {
		width: 350px !important;
	}

	.menu-mobile {
		right: 0;
		position: absolute;
		background: rgba(0, 0, 0, 0.775);
		height: 400vh;
		z-index: 100;
		transition: all 0.5s ease;
		width: 0;
		display: unset;
	}

	.aside-menu {
		display: flex;
		background: none;
		color: white;
		border: 0;
		font-size: 30px;

	}

	.aside-fechar {
		border-bottom: 1px solid #FFFFFF;
		justify-content: space-around;
		display: flex;
		align-items: center;
		padding-bottom: 14px;
	}

	form input,
	form textarea {
		height: 40px;
		width: 154px;
		outline: unset;
		border: var(--clr-neon) 2px solid;
		margin: 10px 0px 10px 6px;
		background: rgba(255, 255, 255, 0.6);
		border-radius: 10px;
	}

	nav {
		padding-top: 2rem;
		display: flex;
		justify-content: space-between;
		align-items: center;
		text-transform: uppercase;
		font-size: 1.6rem;
	}


	.cardes {
		display: unset;
		margin-bottom: 50px;
	}


	nav ul {
		display: none;
	}

	.caaaard {
		margin: 20px auto;
	}

	.Slogan {
		font-size: 30px;

	}

	.Slogan2 {
		font-size: 30px;
	}


	.Selecionar {
		margin: 10px;
		padding: 0;

	}

	.chamadopsg {
		font-size: 30px;
		margin: 15px auto;
		width: 87%;
	}

	.passagens-splide {
		display: block;
		padding-top: unset;
	}

	.splide {
		width: unset;
	}

	.splide__arrow--next {
		right: 10.5px;
	}


	.slogan-cards {
		font-size: 16px;
	}

	.brand {
		margin: 10px;
	}

	.destino {
		padding: 80px;
	}

	.dataID {
		margin-right: 50px;
	}

	.destino {
		padding: 0;
	}

	.origem {
		margin: 0;

	}

	.box {
		width: 70%;
	}

	.popup {
		width: 70%;
	}

	.popup .content {
		display: block;
		justify-content: center;
		overflow: hidden;
	}

	.neons {
		margin: 10px;
		width: 95%;
		font-size: 14px;
		justify-content: center;
		align-items: center;
		cursor: pointer;
		text-decoration: none;
		color: rgb(255, 255, 255);
		border: var(--clr-neon) 2px solid;
		background-color: transparent;
		border-radius: 0.25em;
		text-shadow: 0 0 0.125em hsl(0 0% 100% / 0.3), 0 0 0.45em currentColor;
		box-shadow: inset 0 0 0.5em 0 var(--clr-neon), 0 0 0.5em 0 var(--clr-neon);
		transition: all 0.5s;
		padding: 9px 15px;
	}

	.text-hotel {
		color: #999;
		padding-top: 20px;
		font-size: 18px;
		text-align: center;
	}


	.bts-login {
		display: flex;
		margin: unset;
	}

	.form-v-001 {
		margin: 10px auto;
		width: 96%;
		height: 30px;
		border: solid #ffcaa6;
		border-radius: 10px;
	}

	.box {
		width: 70%;
	}

	.popup {
		width: 70%;
	}

	@media screen and (max-width: 250px) {

		.menu-toggle {
			display: block;
		}

	}

}

/* MAX WIDTH 500px */
@media only screen and (max-width: 500px){
	.caaaard{
		width: 100%;
	}
}

main {
	margin: 0;
	padding: 0;
	background: black;
	overflow: hidden;
}

.starfield {
	width: 100%;
	height: 100%;
	position: relative;
}

.star {
	position: absolute;
	background: white;
	border-radius: 50%;
	width: 2px;
	height: 2px;
	box-shadow:
		100px 200px white, 150px 300px white, 200px 250px white,
		300px 150px white, 400px 200px white, 500px 100px white,
		600px 200px white, 700px 150px white, 800px 300px white,
		900px 200px white, 1000px 150px white, 1100px 250px white,
		1200px 300px white, 1300px 100px white, 1400px 200px white,
		1500px 300px white, 1600px 150px white, 1700px 200px white,
		1800px 250px white, 1900px 150px white, 2000px 200px white;
	animation: twinkle 1s infinite;
}

@keyframes twinkle {

	0%,
	100% {
		opacity: 1;
	}

	50% {
		opacity: 0.5;
	}
}

/*Button
.bt-maisif1 a {
	color: white;
}

.bt-maisif1 {
	--green: #a6eaff;
	font-size: 15px;
	padding: 0.7em 2.7em;
	letter-spacing: 0.06em;
	position: relative;
	font-family: inherit;
	border-radius: 0.6em;
	overflow: hidden;
	transition: all 0.3s;
	line-height: 1.4em;
	border: 2px solid var(--green);
	background: linear-gradient(to right, #ffcaa61c 1%, transparent 40%, transparent 60%, #ffcaa62e 100%);
	color: var(--green);
	align-items: center;
}

.bt-maisif1:before {
	content: "";
	position: absolute;
	left: -4em;
	width: 4em;
	height: 100%;
	top: 0;
	transition: transform .4s ease-in-out;
	background: linear-gradient(to right, transparent 1%, #a6eaff 40%, #a6eaff 60%, transparent 100%);
	text-align: center;
	align-items: center;
}

.bt-maisif1:hover:before {
	transform: translateX(15em);
}*/